# app
SERVER_NAME=host.docker.internal
SERVER_PORT=8081
APP_URI=http://${SERVER_NAME}:${SERVER_PORT}
APP_NAME=appName
APP_VERSION=0.0.1
APP_DIR=/app
APP_ENV=dev
APP_DEBUG=true
APP_SECRET=11b2c9dfc2dbecf56941327b7c84cdf9
# postgres
POSTGRES_VERSION=15.2
POSTGRES_IMAGE=postgres:${POSTGRES_VERSION}
POSTGRES_PASSWORD=otus-password
POSTGRES_PORT=55432
POSTGRES_USER=otus-user
POSTGRES_DB=database
POSTGRES_HOST=database
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}&charset=utf8"
# php
PHP_VERSION=8.1.5
PHP_CLI_IMAGE=php:${PHP_VERSION}-cli-alpine
PHP_IDE_CONFIG=serverName=${SERVER_NAME}
XDEBUG_MODE=develop,debug,coverage

