/*
**/.*

!.github

!app
app/vendor
app/var
app/public/*
!app/public/index.php
app/coverage.xml

!docker
!docs

!Makefile
!phpcs.xml
!.gitignore
/app/.gitignore
/bank/.gitignore
!docker-compose.yml

**.cache
!**.lock
**.env
!.*.dist
!*.dist
!**.md
