RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=router
RABBITMQ_QUEUE=msgs
EMAIL_HOST=smtp.example.com
EMAIL_PORT=465
EMAIL_USER=user@example.com
EMAIL_PASSWORD=secret