{% extends 'layout.twig' %}

{% block title %}
    Форма запроса выписки
{% endblock %}

{% block header %}
    <h1>Форма запроса выписки</h1>
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}
