<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="refresh" content="5;url=\">
        <title>Успех</title>
    </head>

    <body>
        <p>
            Заявка на получение банковской выписки отправлена! Ожидайте!
        </p>

        <span>
            Вы будете перемещены на глвную страницу автоматически через 5 секунд.
        </span>

        <div>
            <a href="\">На главную</a>
        </div>
    </body>
</html>