{% extends 'base.html.twig' %}

{% block title %}New YoutubeStatistics{% endblock %}

{% block body %}
    <h1>Create new YoutubeStatistics</h1>

    {{ include('youtube_statistics/_form.html.twig') }}

    <a href="{{ path('app_youtube_statistics_index') }}">back to list</a>
{% endblock %}
