.big-banner {
    background-color: #74992e;
}

.services {
    padding: 5px 0;
    background: rgb(236, 235, 235);
    position: fixed; top: 50%; left: 50%;
    webkit-transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.services_form_race {
    padding: 5px 0;
    background: rgb(236, 235, 235);
    position: absolute; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

