{% extends 'admin/layout.twig' %}

{% block title %}
    TKT-School.Создание урока
{% endblock %}
{% block body %}
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">


            <div class="x_content">

                <form class="form-horizontal form-label-left" novalidate action="/report/report2/save" method ="post">

                    <span class="section"> Баллы студентов по урокам и навыкам  </span>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Выбрать курс </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select name = "course" class="select2_single form-control" tabindex="-1">
                                {% for course in courses %}
                                    <option  value="{{ course.id }}">
                                        {{ course.title }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Выбрать студента/ов </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select name = "students[]" class="select2_multiple form-control" multiple="multiple">
                                <option> Укажите студентов </option>
                                </option>
                                {% for student in students %}
                                    <option  value="{{ student.id }}">
                                        {{ student.fullName }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Дата начала периода <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="startDate" name = "startDate" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text"  autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Дата окончания периода <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="finishDate" name="finishDate" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text"  autocomplete="off">
                        </div>
                    </div>





                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">

                            <button id="send" type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#startDate').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
            }, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#finishDate').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
            }, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>
{% endblock  %}
